<div class="row">
  <div class="col-md-8 col-sm-10">
    <h2>以下の内容でよろしいですか？</h2>
    <%= form_for(@tweet) do |f| %>
      <%=f.hidden_field :content %>
      <div class="row tweetView">
        <div class="col-xs-1 pad_none"><%= image_tag 'Anonymous.png', :class => "setIcon" %></div>
        <div class="col-xs-11">
          <div class="row">
            <div class="col-xs-12 tweetDetail"><%= @tweet.content %></div>
          </div>
        </div>
      </div>
      <div style="width:310px;">
        <%= f.submit 'この内容でつぶやく', class: 'btn btn-danger btn_size cnfbtnL',style:'float:right'%>
    <% end %>
      <%= form_for(@tweet, url: new_tweet_path, method: 'get') do |f| %>
        <%=f.hidden_field :content %>
        <%=f.submit "入力画面へ戻る" , name: 'back', class: 'btn btn-secondary btn_size cnfbtnR',style:'float:right padding-right:5px;' %>
      <% end %>
    </div>  
  </div>
</div>
